// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@text: #080808;
@cursor: #000000;
@selection: #A6D2FF;
@selection_flash: #00f;
@background: #FFFFFF;
@wrap_guide: #ccc;
@indent_guide: #ccc;
@invisible_character: #ccc;
@result_marker: #444;
@result_marker_selected: #000;
@gutter_background: #FFFFFF;
@gutter_background_selected: #EDEBFC;
@gutter_text: #AEB3C2;
@gutter_text_selected: #767A8A;
@bracket_match: #93D9D9;
@git_added: green;
@git_modified: orange;
@git_removed: red;
@git_renamed: blue;
@annotations: #9E880D;
@attributes: #871094;
@classes: #0033B3;
@comments: #8C8C8C;
@comments_doc: #999999;
@comments_tag: #3D3D3D;
@constants_escape: #1750EB;
@constants: #1750EB;
@functions: #00627A;
@illegals: #ff0000;
@imports: #1750EB;
@includes: #1750EB;
@keywords: #0033B3;
@links: #56A8F5;
@methods: #914C07;
@properties: #871094;
@punctuations: #080808;
@regexps: #264EFF;
@snippets: #97C378;
@strings: #067D17;
@strings_unquoted: #067D17;
@tags: #AD6339;
@values: #ff0000;
@variables: #2A8C7C;