// These colors are specific to the theme. Do not use in a package!

@background: #1e1f22;
@text: #080808;
@cursor: #000000;
@selection: #a6d2ff;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@text: #080808;
@cursor: #000000;
@selection: #a6d2ff;
@background: #ffffff;@text: #a9b7c6;
@cursor: #bbbbbb;
@selection: #214283;
@background: #2b2b2b;@text: #bcbec4;
@cursor: #ced0d6;
@selection: #214283;
@background: #1e1f22;@text: #080808;
@cursor: #000000;
@selection: #a6d2ff;
@background: #ffffff;@background: #955b5b;
@text: #080808;
@cursor: #000000;
@selection: #a6d2ff;@text: #080808;
@cursor: #000000;
@selection: #a6d2ff;
@background: #ffffff;