// literal
.syntax--constant {
  color: @constants;

  // &lt; 'a'
  &.syntax--character {
    color: @methods;

    // \" \' \g \.
    &.syntax--escape {
      color: @constants_escape;
    }

    // \u2661 \n \t \W .
    &.syntax--code {
      color: @constants_escape;
    }
  }

  &.syntax--enum {
    color: @variables;
    font-style: italic;
  }

  // 4 1.3 0x29
  &.syntax--numeric {
    color: @constants;

    // px % cm hz
    &.syntax--unit {
      color: @constants;
    }
  }

  // #b294bb
  &.syntax--color {
    color: @constants_escape;
  }

  // true false nil
  &.syntax--language {
    color: @keywords;

    // ...
    &.syntax--symbolic {
      color: @constants_escape;
    }
  }
}
