// This defines styling rules for the editor.

atom-text-editor {
  background-color: @background;
  color: @text;

  .wrap-guide {
    background-color: @wrap_guide;
  }

  .indent-guide {
    color: @indent_guide;
  }

  .invisible-character {
    color: @invisible_character;
  }

  .invisible {
    color: @text;
  }

  .cursor {
    color: @cursor;
    border-left: 2px solid;
  }

  .selection .region {
    background-color: @selection;
  }

  .bracket-matcher .region {
    background-color: @bracket_match;
    border: none;
  }

  .gutter {
    background-color: @gutter_background;
    color: @gutter_text;

    &.line-numbers {
      border-right: 1px solid @indent_guide;
    }

    .line-number {
      padding-left: 0.7em;
      letter-spacing: -1px;
      opacity: 1;

      &.cursor-line {
        background-color: @gutter_background_selected;
        color: @gutter_text_selected;
      }

      .icon-right {
        display: inline-block;
        transform: scale(1.3);
        transform-origin: center;
        padding-left: 1.8em;
        padding-right: 0.8em;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}

atom-text-editor .scroll-view {
  padding-left: 3px;
}