// This defines styling rules for the editor.

atom-text-editor {
  background-color: @background;
  color: @text;

  .wrap-guide {
    background-color: @wrap_guide;
  }

  .indent-guide {
    color: @indent_guide;
  }

  .invisible-character {
    color: @invisible_character;
  }

  .invisible {
    color: @text;
  }

  .cursor {
    color: @cursor;
    border-left: 2px solid;
  }

  .selection .region {
    background-color: @selection;
  }

  .bracket-matcher .region{
    background-color: @bracket_match;
    border: none;
  }

  .gutter {
    background-color: @gutter_background;
    color: @gutter_text;

    .line-number {
      &.cursor-line {
        background-color: @gutter_background_selected;
        color: @gutter_text_selected;
      }

      &.cursor-line-no-selection {
        color: @gutter_text_selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @text;
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
