// identifier
.syntax--entity {
  color: @keywords;

  // function(parameter)
  &.syntax--parameter {
    color: @properties;
  }

  // self cls iota
  &.syntax--support {
    color: @properties;
  }

  // function method
  &.syntax--function {
    color: @functions;

    // len print
    &.syntax--support {
      color: @properties;
    }
  }

  &.syntax--method {
    font-style: italic;
    &.syntax--constructor {
      font-style: normal;
    }
  }

  // add
  &.syntax--operator {
    color: @keywords;

    // %>% <=>
    &.syntax--symbolic {
      color: @keywords;
    }
  }

  .syntax--attribute-name {
    color: @attributes;
  }

  &.syntax--pseudo-class {
    color: @tags;
  }
  
  // Class
  &.syntax--type {
    color: @classes;

    // String List
    &.syntax--support {
      color: @classes;
    }

    // dict map float32
    &.syntax--fundamental {
      color: @classes;
    }

    &.syntax--annotated {
      color: @annotations;
    }
  }

  &.syntax--inherited-class {
    color: @text;
  }    

  // .class :pseudo-class
  &.syntax--selector {
    color: @classes;

    // #id
    &.syntax--id {
      color: @classes;
    }
  }

  // div span
  &.syntax--tag {
    color: @tags;
    text-decoration: underline;
  }

  // href src alt
  &.syntax--attribute {
    color: @attributes;
  }

  // height position border
  &.syntax--property {
    color: @properties;
  }

  &.syntax--label {
    color: @text;
  }
}