.jetbrains-mono(@src, @weight, @style) {
    font-family: 'JetbrainsMono';
    src: url('atom://theme-jetbrains-syntax/fonts/@{src}.woff2') format('woff2');
    font-weight: @weight;
    font-style: @style;
    font-display: swap;
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Thin', 100, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-ThinItalic', 100, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-ExtraLight', 200, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-ExtraLightItalic', 200, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Light', 300, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-LightItalic', 300, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Regular', normal, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Italic', normal, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Medium', 500, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-MediumItalic', 500, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-SemiBold', 600, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-SemiBoldItalic', 600, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-Bold', bold, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-BoldItalic', bold, italic)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-ExtraBold', 800, normal)
}

@font-face {
    .jetbrains-mono('JetBrainsMono-ExtraBoldItalic', 800, italic)
}

atom-text-editor {
    --editor-font-family: 'JetbrainsMono';
    --editor-font-size: small;
    --editor-line-height: 22px;
}
