// 0invalid
.syntax--invalid:not(.syntax--punctuation) {

  // §illegal
  &.syntax--illegal {
    background-color: @illegals;
    color: @text;
  }

  // obsolete()
  &.syntax--deprecated {
    color: @illegals;
    text-decoration: underline;
  }
}
