// if for return import
.syntax--keyword {
  color: @keywords;

  // global static let class
  &.syntax--storage {
    color: @classes;
  }

  // int char float
  &.syntax--type {
    color: @keywords;
    text-decoration: underline;
  }

  // and or new del
  &.syntax--operator {
    color: @text;

    &.syntax--typeof {
      color: @keywords;
    }
  }

  // super
  &.syntax--function {
    color: @methods;
  }

  // this self
  &.syntax--variable {
    color: @variables;
  }

  // = + && | << ?
  &.syntax--symbolic {
    color: @constants;
  }

  &.syntax--unit {
    color: @text;
  }

  &.syntax--tag {
    color: @tags;
    font-weight: bold;
  }
}
