// __formatted__
.syntax--markup {
  color: @text;

  .syntax--markup {
    color: @attributes
  }

  // # Heading
  &.syntax--heading {
    color: @properties;
  }

  // - item
  &.syntax--list {
    color: @text;

    .syntax--markup {
      color: @text;
    }
  }

  &.syntax--table {
    color: @keywords;
    
    .syntax--markup {
      color: @text;
    }
  }

  // > quote
  &.syntax--quote {
    color: @strings;

    .syntax--markup {
      color: @strings;
    }

    .syntax--punctuation {
      color: @strings;
    }

    .syntax--link {
      color: @links;
      font-style: italic;
    }
  }

  // **bold**
  &.syntax--bold {
    color: @strings;
    font-weight: bold;
  }

  // *italic*
  &.syntax--italic {
    color: @strings;
    font-style: italic;
  }

  // __underline__
  &.syntax--underline {
    color: @strings;
    text-decoration: underline;
  }

  // ~~strike~~
  &.syntax--strike {
    color: @strings;
    text-decoration: line-through;
  }

  // `raw`
  &.syntax--raw {
    color: @strings;
  }

  // url.com (path) [reference]
  &.syntax--link {
    color: @links;
    font-style: italic;
  }

  // {++ inserted ++}
  &.syntax--inserted {
    color: @strings;
  }

  // {== inserted ==}
  &.syntax--highlighted {
    color: @strings;
  }

  // {-- deleted --}
  &.syntax--deleted {
    color: @strings;
  }

  // {~~ from~>to ~~}
  &.syntax--changed {
    color: @strings;
  }

  // {>> commented <<}
  &.syntax--commented {
    color: @strings;
  }
  
  &.syntax--horizontal-rule {
    color: @keywords;
  }
}
