// () [] {} => @
.syntax--punctuation {
  color: @punctuations;

  &.syntax--heading-underline {
    color: @attributes;
  }

  &.syntax--terminator, &.syntax--comma {
    color: @punctuations_terminator;
  }

  .syntax--regexp > & {
    color: @regexps;
  }
}
