// "string"
.syntax--string {
  color: @strings;

  // :immutable
  &.syntax--immutable {
    color: @strings;
  }

  // ${variable} %().2f {0:<30}
  &.syntax--part {
    color: darken(@strings, 15%);
  }

  // /^reg[ex]?p/
  &.syntax--regexp {
    color: @regexps;

    .syntax--regexp {
      color: @regexps;
    }
    // ^ $ \b ? + i
    &.syntax--language {
      color: @regexps;
    }
    
    .syntax--keyword {
      color: @regexps;
    }
    
    // <variable> \1
    &.syntax--variable {
      color: @regexps;
    }

    // r" /
    &.syntax--punctuation {
      color: @regexps;

      // ( ) [^ ] (?= ) |
      &.syntax--part {
        color: @regexps;
      }
    }
  }

  &.syntax--unquoted {
    color: @strings_unquoted;
  }
}
