// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @text;
@syntax-cursor-color: @cursor;
@syntax-selection-color: @selection;
@syntax-selection-flash-color: @selection_flash; // Color the selection is 'flashed' when you run find next
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @wrap_guide;
@syntax-indent-guide-color: @indent_guide;
@syntax-invisible-character-color: @invisible_character;

// For find and replace markers
@syntax-result-marker-color: @result_marker;
@syntax-result-marker-color-selected: @result_marker_selected;

// Gutter colors
@syntax-gutter-text-color: @gutter_text;
@syntax-gutter-text-color-selected: @gutter_text_selected;
@syntax-gutter-background-color: @gutter_background;
@syntax-gutter-background-color-selected: @gutter_background_selected;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @git_renamed;
@syntax-color-added: @git_added;
@syntax-color-modified: @git_modified;
@syntax-color-removed: @git_removed;

// For language entity colors
@syntax-color-variable: @variables;
@syntax-color-comment: @comments;
@syntax-color-constant: @constants;
@syntax-color-property: @properties;
@syntax-color-value: @values;
@syntax-color-function: @functions;
@syntax-color-method: @methods;
@syntax-color-class: @classes;
@syntax-color-keyword: @keywords;
@syntax-color-tag: @tags;
@syntax-color-attribute: @attributes;
@syntax-color-import: @imports;
@syntax-color-snippet: @snippets;
@syntax-color-string: @strings;

// Terminal variables

// The ordinary text color of the terminal.
@terminal-text-color: @syntax-text-color;
// The background color of the terminal.
@terminal-background-color: @syntax-background-color;
// The background color of a selected text block.
@terminal-selection-background-color: @syntax-selection-color;
// The text color of selected text.
@terminal-selection-text-color: @syntax-text-color;
// The color of the cursor.
@terminal-cursor-color: @syntax-cursor-color;

// The color of the outline around a “find” result when it is inactive.
@terminal-result-marker-color: @syntax-result-marker-color;
// The color of the outline around a “find” result when it is active.
@terminal-result-marker-color-selected: @syntax-result-marker-color-selected;

@terminal-color-black: lighten(@syntax-text-color, 10%);
@terminal-color-red: #b72424;
@terminal-color-green: darken(#97C378, 10%);
@terminal-color-yellow: #E5C17C;
@terminal-color-blue: #0e528c;
@terminal-color-magenta: #a431c4;
@terminal-color-cyan: #61AEEF;
@terminal-color-white: darken(@syntax-background-color, 20%);

@terminal-color-bright-black: lighten(@terminal-color-black, 10%);
@terminal-color-bright-red: #DF6A73; // lighten(@terminal-color-red, 10%);
@terminal-color-bright-green: #97C378; // lighten(@terminal-color-green, 10%);
@terminal-color-bright-yellow: lighten(@terminal-color-yellow, 10%);
@terminal-color-bright-blue: lighten(@terminal-color-blue, 10%);
@terminal-color-bright-magenta: lighten(@terminal-color-magenta, 10%);
@terminal-color-bright-cyan: lighten(@terminal-color-cyan, 10%);
@terminal-color-bright-white: lighten(@terminal-color-white, 10%);