jetbrains_light:
    text: '#080808'
    cursor: '#000000'
    selection: '#A6D2FF'
    selection_flash: '#00f'
    background: '#FFFFFF'
    wrap_guide: '#ccc'
    indent_guide: '#EBECF0'
    invisible_character: '#ccc'
    result_marker: '#444'
    result_marker_selected: '#000'
    gutter_background: '#FFFFFF'
    gutter_text: '#AEB3C2'
    cursor_line: '#F5F8FE'
    cursor_line_text: '#767A8A'
    bracket_match: '#93D9D9'
    git_added: 'green'
    git_modified: 'orange'
    git_removed: 'red'
    git_renamed: 'blue'
    annotations: '#9E880D'
    attributes: '#174AD4'
    classes: '#0033B3'
    comments: '#8C8C8C'
    comments_doc: '#8C8C8C'
    comments_tag: '#8C8C8C'
    comments_tag_value: '#3D3D3D'
    constants: '#1750EB'
    functions: '#00627A'
    illegals: '#ff0000'
    imports: '#1750EB'
    includes: '#1750EB'
    keywords: '#0033B3'
    links: '#56A8F5'
    methods: '#914C07'
    properties: '#871094'
    punctuations: '#080808'
    punctuations_terminator: '#080808'
    regexps: '#264EFF'
    snippets: '#97C378'
    strings: '#067D17'
    strings_escape: '#0037A6'
    strings_unquoted: '#067D17'
    tags: '#AD6339'
    values: '#D29B67'
    variables: '#2A8C7C'
jetbrains_dark:
    text: '#bcbec4'
    cursor: '#CED0D6'
    selection: '#214283'
    selection_flash: '#00f'
    background: '#1e1f22'
    wrap_guide: '#ccc'
    indent_guide: '#313438'
    invisible_character: '#ccc'
    result_marker: '#444'
    result_marker_selected: '#000'
    gutter_background: '#1e1f22'
    gutter_text: '#4B5059'
    cursor_line: '#26282E'
    cursor_line_text: '#A1A3AB'
    git_added: 'green'
    git_modified: 'orange'
    git_removed: 'red'
    git_renamed: 'blue'
    annotations: '#B3AE60'
    attributes: '#BABABA'
    bracket_match: '#43454A'
    classes: '#BCBEC4'
    comments: '#7a7e85'
    comments_doc: '#5F826B'
    comments_tag: '#67A37C'
    comments_tag_value: '#ABADB3'
    constants: '#2aacb8'
    functions: '#56a8f5'
    illegals: 'red'
    imports: '#97C378'
    includes: '#97C378'
    keywords: '#cf8e6d'
    links: '#56A8F5'
    methods: '#56a8f5'
    properties: '#C77DBB'
    punctuations: '#BCBEC4'
    punctuations_terminator: '#BCBEC4'
    regexps: '#42C3D4'
    snippets: '#97C378'
    strings: '#6AAB73'
    strings_escape: '#CF8E6D'
    strings_unquoted: '#5C92FF'
    tags: '#D5B778'
    values: '#D29B67'
    variables: '#A9B7C6'
jetbrains_darcula:
    text: '#a9b7c6'
    cursor: '#BBBBBB'
    selection: '#214283'
    selection_flash: '#00f'
    background: '#2b2b2b'
    wrap_guide: '#ccc'
    indent_guide: '#373737'
    invisible_character: '#ccc'
    result_marker: '#444'
    result_marker_selected: '#000'
    gutter_background: '#2b2b2b'
    gutter_text: '#606366'
    cursor_line: '#323232'
    cursor_line_text: '#A4A3A3'
    git_added: 'green'
    git_modified: 'orange'
    git_removed: 'red'
    git_renamed: 'blue'
    annotations: '#B3AE60'
    attributes: '#A9B7C6'
    bracket_match: '#3B514D'
    classes: '#a9b7c6'
    comments: '#808080'
    comments_doc: '#629755'
    comments_tag: '#629755'
    comments_tag_value: '#8A653B'
    constants: '#6897b8'
    functions: '#ffc66d'
    illegals: 'red'
    imports: '#97C378'
    includes: '#97C378'
    keywords: '#cc7832'
    links: '#287BDE'
    methods: '#ffc66d'
    properties: '#9876AA'
    punctuations: '#a9b7c6'
    punctuations_terminator: '#CC7832'
    regexps: '#6897BB'
    snippets: '#97C378'
    strings: '#6a8759'
    strings_escape: '#CC7832'
    strings_unquoted: '#5C92FF'
    tags: '#26BDA4'
    values: '#D29B67'
    variables: '#A9B7C6'
